.LoveStory {
  .date {
    margin-block: 10px;
    text-align: center;
  }

  .TextColor {
    margin-top: 35px;
  }

  .card {
    margin-bottom: 40px;
  }

  .FirstTimeStory {
    .Avatar {
      rotate: -7deg;
      width: 40%;
      left: 0;
      margin: 0 auto;

      .pos-3 {
        position: absolute;
        bottom: -58px;
        left: -36px;

        svg {
          width: 65px;
          transform: rotateX(5deg) rotateY(180deg) rotateZ(18deg);
        }
      }

      .pos-4 {
        position: absolute;
        right: -75px;
        bottom: -51px;
        transform: rotate(0deg);

        svg {
          width: 90px;
        }
      }
    }
  }

  .BeginDate {
    .Avatar {
      rotate: 3.5deg;
      width: 40%;
      left: 0;
      margin: 0 auto;

      .pos-3 {
        position: absolute;
        left: unset;
        right: -27px;
        bottom: -63px;

        svg {
          width: 65px;
          transform: rotate(19deg);
        }
      }

      .pos-4 {
        left: -30px;
        top: -35px;
        transform: rotate(0deg);
        position: absolute;
        right: -75px;
        bottom: -51px;

        svg {
          width: 90px;
        }
      }
    }
  }
}
